body {
  font-family: Arial, sans-serif;
  background-color: #2c3e50;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #34495e;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
  text-align: center;
  background: linear-gradient(to right, #3498db, #2ecc71);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
  background-color: #3d5268;
  color: #fff;
}

button {
  padding: 8px;
  cursor: pointer;
}

button#homeButton, button#searchButton {
  background-color: #3498db;
  color: #fff;
  border: none;
}

#results, #details {
  margin-top: 20px;
}

.result-card {
  border: 1px solid #455a75;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #455a75;
}

.result-card img {
  width: 50px;
  height: 75px;
  margin-right: 10px;
}

button {
  padding: 8px;
  cursor: pointer;
}

button#homeButton {
  position: absolute;
  top: 10px;
  left: 10px;
}

#searchOption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

button#watchNowButton {
  padding: 10px;
  cursor: pointer;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  margin-top: 25px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}

#videoOptions {
  text-align: center;
}

select {
  padding: 8px;
  margin: 5px;
}

#videoContainer {
  margin-top: 10px;
  padding-top: 10px;
}

.result-card p.title {
  color: #009600;
}

#results p.noResults{
  color: red;
}

.result-card p {
  margin: 0;
}
