/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 8px;
  cursor: pointer;
}

/* Blue color for Home and Search buttons */
button#homeButton, button#searchButton {
  background-color: #3498db; /* Blue color */
  color: #fff;
  border: none;
}

#results, #details {
  margin-top: 20px;
}

.result-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.result-card img {
  width: 50px;
  height: 75px;
  margin-right: 10px;
}

/* Add this CSS to your styles.css file */
button {
  padding: 8px;
  cursor: pointer;
}

/* Position the button at the top-left corner */
button#homeButton {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Style for Watch Now button */
button#watchNowButton {
  padding: 10px;
  cursor: pointer;
  background-color: #2ecc71; /* Light Green */
  color: #fff;
  border: none;
  margin-top: 20px; /* Increase the space between dropdowns and button */
  display: block; /* Make the button a block element to center it */
  margin: 0 auto; /* Center the button */
}

#videoOptions {
  text-align: center; /* Center the content inside videoOptions */
}

/* Style for Season and Episode dropdowns */
select {
  padding: 8px;
  margin: 5px;
}

/* Add additional styling as needed */
